@import 'utils/variables';
@import 'components/type';

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: #fafafa;
}

body {
    background-color: #121212;
    font-family: 'Arsenica Variable', serif;
    color: #fafafa;
}

html, body {
    width: 100%;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

// MENU

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}

.menu--sup {
    background-color: rgb(250, 250, 250, 0.01);
    backdrop-filter: blur(20px);
}

.menu--links {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #121212;
    color: #fafafa;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 30px; 
    transition: 
    transform .3s ease-out,
    opacity .3s ease-out;
    text-transform: uppercase;
}

.menu--links__el:hover {
    opacity: .5;
    transition: .5s;
}

.menu--links__el.active {
    text-decoration: line-through;
}

.menu--burger {
    z-index: 1000;
}

.menu--links__hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.menu--logo {
    width: 40px;
    height: 40px;
    background-image: url(../assets/images/logo.svg);
    background-size: cover;
    z-index: 1000;
}


// HOME

.intro {
    height: 100vh;
    position: relative;
    padding: 23px;
    font-weight: 400;
    font-size: 49px;
    background-image: url('../assets/images/background_pc.png');
    object-fit: cover;
}

.intro--gradient {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, #121212);
}

.intro--pres {
    bottom: 10%;
    position: absolute;
    z-index: 2;
}

.intro--pres__text01 {
    font-weight: 400;
    // font-size: 49px;
    font-size: clamp(3.0625rem, 0.75rem + 10.2778vw, 10rem);
}

.intro--pres__name {
    font-weight: 700;
}

.intro--pres__text02 {
    font-weight: 700;
    display: block;
}

.intro--pres__work {
    // font-size: 41px;
    font-size: clamp(2.5625rem, 1.0625rem + 6.6667vw, 7.0625rem);
    font-style: italic;
    font-weight: 300;
}


// ABOUT ME 

.about {
    height: 100vh;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about--title{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.about--title span{
    position: relative;
}

.about--title span::before{
    content: "Student";
    color: #b34949;
    animation: words 20s infinite;
}

.about--title span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 110%;
    background-color: #121212;
    border-left: 2px solid #b34949;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #121212;
    }
}

@keyframes words {
    0%,20%{
        content: "Student";
    }
    21%,40%{
        content: "Belgian";
    }
    41%,60%{
        content: "Designer";
    }
    61%,80%{
        content: "Developer";
    }
    81%,100%{
        content: "Creator";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.about--text {
    font-size: 23px;
    max-width: 405px;
}

.about--text:first-of-type {
    margin-top: 72px;
    margin-bottom: 34px ;
}

.about--links {
    margin: 72px 0 0 0;
    width: 100%;
    height: auto;
}

.links--btn {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 23px;
}

.about--links__github {
    background-image: url('../assets/images/github.svg'); 
}

.about--links__linkedin {
    background-image: url('../assets/images/linkedin.svg'); 
}

// PROJECTS 

.projects {
    height: auto;
    text-align: center;
}

.projects--title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 87px 0;
}

.projects--title__deco {
    width: 100%;
    height: 2px;
    background-color: #fafafa;
}

.projects--title__deco:first-of-type {
    left: 0;
}

.projects--title__deco:last-of-type {
    right: 0;
}

.projects--title h2 {
    font-size: 34px;
    font-weight: 700;
    margin: 0 16px;
}

.project {
    margin-bottom: 72px;
}

.project:last-of-type {
    margin-bottom: 87px;
}

.project--links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project--links img {
    width: 250px;
    height: 250px;
    transition: all ease-out 0.4s;
}

.absolute {
    position: absolute;
}

.project--link {
    display: block;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 15s linear infinite;
    z-index: 5;
    transition: all ease-out 0.4s;
}

.project--link:hover {
    width: 350px;
    height: 350px;
  }
  
  .project--link:hover ~ .project--links__img {
    width: 300px;
    height: 300px;
  }

.link--janus {
    background-image: url('../assets/images/janus.png');
}

.link--data {
    background-image: url('../assets/images/data.png');
}

.link--fiction {
    background-image: url('../assets/images/fiction.png');
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.project h3 {
    font-weight: 300;    
    margin-top: 16px;
    font-size: 23px;
}
    



// FOOTER 

.footer {
    margin-top: 72px;
    height: auto;
    padding: 28px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer--line {
    position: absolute;
    top: 0;
    margin: 0 auto;
    height: 2px;
    width: 60%;
    background-color: #fafafa;
}

.footer--content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px){

    .intro {
        padding: 60px;
    }

    .about {
        padding: 0 47px;
    }

    .about--title {
        font-size: 47px;
    }

    .about--text {
        max-width: 650px;
        font-size: 29px;
    }

    .about--text:first-of-type {
        margin-top: 76px;
        margin-bottom: 43px ;
    }

    .about--links {
        margin-top: 76px;
    }

    .links--btn {
        width: 50px;
        height: 50px;
        margin-right: 29px;
    }

    .project--links img {
        width: 300px;
        height: 300px;
    }
    
    .project--link {
        width: 350px;
        height: 350px;
    }
    
    .project--link:hover {
        width: 400px;
        height: 400px;
      }
      
      .project--link:hover ~ .project--links__img {
        width: 350px;
        height: 350px;
      }

      .project h3 {   
        margin-top: 18px;
        font-size: 29px;
    }
    
    .projects--title {
        margin-bottom: 123px;
    }

    .project {
        margin-bottom: 97px;
    }

    .footer {
        margin-top: 123px;
    }

}


