@import 'utils/variables';
@import 'components/type';


body {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 400, "wght" 400;
    text-transform: uppercase;
    font-size: 113px;
    margin: 10%;
    color: white;
    text-align: center;
}